@{
    Layout = "_Layout1";
}
@model RegisterVM
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="row w-100 m-0">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
                <div class="card col-lg-4 mx-auto">
                    <div class="card-body px-5 py-5">
                        <h3 class="card-title text-left mb-3">Register</h3>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="FirstName">FirstName</label>
                                <input asp-for="FirstName" type="text" class="form-control p_input" />
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName">LastName</label>
                                <input asp-for="LastName" type="text" class="form-control p_input" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Username">Username</label>
                                <input asp-for="Username" type="text" class="form-control p_input" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" type="email" class="form-control p_input" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" type="password" class="form-control p_input" />
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm Password</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control p_input" />
                            </div>
                            <div asp-validation-summary="All" style="color:red"></div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="form-check">
                                    <label asp-for="RememberMe" class="form-check-label">
                                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" /> Remember
                                        me
                                    </label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                        class="btn btn-primary btn-block enter-btn">
                                    Register
                                </button>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-facebook col mr-2">
                                    <i class="mdi mdi-facebook"></i> Facebook
                                </button>
                                <button class="btn btn-google col">
                                    <i class="mdi mdi-google-plus"></i> Google plus
                                </button>
                            </div>
                            <p class="sign-up text-center">
                                Already have an Account?<a asp-action="Login"> Sign In</a>
                            </p>
                            <p class="terms">
                                By creating an account you are accepting our<a href="#">
                                    Terms & Conditions
                                </a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
