<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <h3 class="page-title"> Page Header </h3>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Before</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Current</li>
                </ol>
            </nav>
        </div>
        <div class="grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tables</h4>
                    <p class="card-description">Press button and go to table</p>
                    <div class="row">
                        <div class="col-1">
                            <a class="btn btn-primary" asp-controller="Doctor" asp-action="Index">Doctor</a>
                        </div>
                        <div class="col-2">
                            <a class="btn btn-danger" asp-controller="Department" asp-action="Index">Department</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>