@model DepartmentVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Department</h4>
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input type="text"
                                   class="form-control"
                                   asp-for="Title" />
                        </div>
                        <div asp-validation-summary="All" style="color:red"></div>
                        <button type="submit" class="btn btn-primary mr-2" asp-action="Edit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
