@model _5_1_25_task1.Models.Doctor

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Update</h6>
                <form asp-action="UpdateDoctor" method="post">
                    <div class="mb-3">
                        <label for="Image" class="form-label">Image</label>
                        <input type="text" class="form-control" asp-for="Image" placeholder="Enter Image">
                    </div>
                    <div class="mb-3">
                        <label for="Fullname" class="form-label">Fullname</label>
                        <input type="text" class="form-control" asp-for="Fullname" placeholder="Enter Fullname">
                    </div>
                    <div class="mb-3">
                        <label for="DepartmentId" class="form-label">Department Id</label>
                        <input type="text" class="form-control" asp-for="DepartmentId" placeholder="Enter Department Id">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->